/*steven/*


#auto-select-box input {
      font-size: 14px;
      font-family: Roboto, Arial, sourceSansPro, Helvetica, sans-serif;
      width: 300px;
      text-indent: 5px;
      padding-top: 5px;
      padding-bottom: 5px;    
      height: 30px;
      border: 0;
      margin: 0;
      position:relative;
      top:0px;
}